<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dozen.login">

    <application>
        <activity
            android:name=".act.ResetPasswordAct"
            android:label="重置密码"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            tools:targetApi="n" />
        <activity
            android:name=".act.RegisterAct"
            android:label="注册"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            tools:targetApi="n" />
        <activity
            android:name=".act.LoginAct"
            android:label="登录"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            tools:targetApi="n" />
        <activity
            android:name=".act.H5Act"
            android:label="h5"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            tools:targetApi="n" />
        <activity
            android:name=".act.H5PayAct"
            android:label="pay"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            tools:targetApi="n" />
        <activity
            android:name=".act.H5ToWxPayAct"
            android:label="wxPay"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            tools:targetApi="n" />
        <activity
            android:name=".act.VersionInfoAct"
            android:label="version"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            tools:targetApi="n" />
    </application>

</manifest>