<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dozen.commonbase">

    <!--android 11 调起微信支付需要增加如下包名设置-->
    <queries>
        <package android:name="com.tencent.mm"/>
    </queries>

    <!--杀死进程-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <service android:name=".view.suspend.SuspendService"/>
    </application>
</manifest>